---
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import { APP_NAME } from '../config/app';
import Layout from '../layouts/Layout.astro';


const title = `${APP_NAME} - Home`
---

<Layout title={title}>
  <main>
    <Hero>
      <Navbar class="absolute top-0 left-0 w-full"/>
    </Hero>
  </main>
</Layout>