---
import Icon from 'astro-icon';
import Pill from './Pill.astro';
---

<div class="rounded-lg border border-accent p-8 flex justify-between items-center">
  <p class="capitalize text-lg">explore our collection of code project & design case studies from our community</p>
  <Pill class="gap-4 flex items-center cursor-pointer">
    <Icon name="explore" class="w-3 h-3 animate-pulse" />
    <p>Explore More</p>
  </Pill>
</div>
