---
const menuItems = [
  'About',
  'contact',
  'collection',
  'talents',
  'join the community'
]
const { class: className } = Astro.props;

---

<div class:list={["px-8 py-4 uppercase flex justify-between text-secondary border-b border-primary/10", className]}>
  <div>
    # The Embassy
  </div>

  {menuItems.map((item) => (
    <div>
      # {item}
    </div>
  ))}
</div>  